body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #008080;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #293449;
}

.site-navigation,
.user-navigation a{
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #1d2739;
}

.description {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  text-transform: none;
  font-weight: normal;
  list-style: none; /* не работает*/
}

.phone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;

  list-style: none; /*не работает*/
}

.address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  font-weight: normal;
  list-style: none; /* не работает*/
}

.login-link {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  font-weight: normal;
  list-style: none; /*не работает*/

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-weight: normal;
}

.site-navigation{
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  font-weight: normal;
  list-style: none;
}

.user-navigation {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  font-weight: normal;
  list-style: none;
}

.assortment {
  color: #000000; /*временно вместо белых*/
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  list-style: none;
}

.assortment h3 {
  font-size: 24px;
  line-height: 30px;

.assortment a {
  font-size: 14px;
  line-height: 18px;
}

.contacts,      /*разобраться как скрыть*/
.contacts-form {
  display: none;
}

.footer-navigation { /*'эти свойства пока не работают, не меняется цвет ссылок*/
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  font-weight: normal;
  list-style: none;
}








