body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 36px;
  /*Не понял как определить значение ниже, font-weight?*/
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #008080;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
